body{
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-image: url(images/bg_landingPage1920.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    margin:10% auto;

/*    border: 1px solid red;*/
    display: -webkit-flex;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
.logo{
    margin-left:140px;
    margin-top:40px;
}
  
#content {
    font-weight: 400;
    color:#3E466C;
}
.logo img{
    margin: 0 auto;
    width:200px;
}
#slogan{
    text-align: center;
    font-size:48px;
    font-weight: 300;
    color:#3E466C;
    text-transform:capitalize;
}
.boldText{
    font-weight: 600;
}
#buttons{
    margin-top:50px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.button{
    color:#3E466C;
    text-align: center;
    width:256px;
    margin:20px 5px;
    padding: 15px 10px;
    background-color:#ffffff;
    border-radius: 50px;
    text-transform:capitalize;
    font-weight: 600;
    box-shadow: 0px 3px 6px #cecece;
    
}
.b1{
/*    background-color:#E2FEC6;*/
  background: linear-gradient(180deg, #E2FEC6 0%, rgb(174, 255, 155) 100%);
  border: none;
}
.b1:hover{
      background: linear-gradient(0deg, #E2FEC6 0%, rgb(174, 255, 155) 100%);
}
.b2{
    background-color:#F1F5FA;
    background: linear-gradient(180deg, #ddecff 0%, #c5dfff 100%);
}
.b2:hover{
    background-color:#c1ddff;
    background: linear-gradient(0deg, #ddecff 0%, #c5dfff 100%);
}
.square{
    display: flex;
    align-items: center; 
    justify-content: center;
    width:100px;
    height: 100px;
    border-radius: 10px;
    border: none;
    float: left;
background: linear-gradient(180deg, #ddecff 0%, #c5dfff 100%);
/*    background-color: #F4F8FC;*/
}
.square:hover{
    background: linear-gradient(0deg, #ddecff 0%, #c5dfff 100%);
}
.b3{
    width:100px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    float: left;
/*    background-color: #F4F8FC;*/
}
.b3:hover{
    background: linear-gradient(0deg, #ddecff 0%, #c5dfff 100%);
}
#choices{
    
}
a{
    text-decoration: none;
}
#leftCol{
    width:50%;
    float:left;
    display: flex;
    align-items: center; 
    justify-content: center;
}
#rightCol{
    width:50%;
    margin: 0 5%;
}
#leftCol img{
    margin: 0 auto;
    width:500px;
}
#title{
    font-family: playfair-display, serif;
    font-weight: 400;
    font-size:40px;
}
p{
    font-weight: 400;
    font-size:24px;
    line-height: 40px;
}
.messageSmall{
    font-size:16px;
    font-weight: 600;
    color:#838FB7;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding:24px 8px;
}
.messageGreen{
    display: flex;
    align-items: center; 
    justify-content: center;
    color:#5CA83A;
    font-size: 42px;
    
}
.messagePurple{
    font-size:32px;
    font-weight: 600;
    color:#3E466C; 
    display: flex;
    align-items: center; 
    justify-content: center;
}
#buttons2{
    display: flex;
    align-items: center; 
    justify-content: center;
}
